.carnivoros {
  background-color: red;
}
.herbivoros {
  background-color: greenyellow;
}
#rex {
  font-size: 24px;
  color: white;
}
#trice {
  font-weight: bold;
  text-decoration: underline;
}
.voladores {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.acuaticos {
  color: blue;
  font-style: italic;
}
img {
  height: 50%;
  width: 50%;
}
.guias-section {
  text-align: center;
  color: brown;
}
.atracciones-section {
  letter-spacing: 2px;
  border-style: double;
  padding: 10px;
}
