#container{
    width: 80%;
    margin: 0 auto;
}
img{
    width: 30%;
    margin: 1.4%;
    border-radius: 10%;
    filter: drop-shadow(
        0 0 10px rgba(0,0,0, .2)
    );
}
body{
    font-family: "Open Sans";
}
h1{
    margin-left: 11%;
    font-size: 40px;
    text-transform: uppercase;
    border-bottom: 2px solid red;
    width: 10%;
    padding-bottom: 5px;
}
.correo{
    margin-left: 11%;
    font-size: 24px;
    color: red;
}